{% load static %}
<!--Main Slider-->
<section class="main-slider style-four">
    <div class="main-slider-carousel owl-carousel owl-theme">
        
        <div class="slide" style="background-image:url(/static/frontend/images/main-slider/6.jpg)">
            <div class="auto-container">
                <div class="content">
                    <div class="title">We serve You Better</div>
                    <h1>We Serve Your <br>Finance Needs</h1>
                    <div class="text">Let's help meet your most fundamental personal financial goals.</div>
                    <div class="link-box">
                        <a href="{% url 'account:registration' %}" class="theme-btn btn-style-twelve">Get started now <span class="fa fa-angle-right"></span></a>
                        <a href="{% url 'frontend:about_us' %}" class="theme-btn btn-style-thirteen">Our services <span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="slide" style="background-image:url(/static/frontend/images/main-slider/7.jpg)">
            <div class="auto-container">
                <div class="content">
                    <div class="title">We serve You Better</div>
                    <h1>Join with the <br> Happiest Customers</h1>
                    <div class="text">Let's help meet your most fundamental personal financial goals.</div>
                    <div class="link-box">
                        <a href="{% url 'account:registration' %}" class="theme-btn btn-style-twelve">Get started now <span class="fa fa-angle-right"></span></a>
                        <a href="{% url 'frontend:about_us' %}" class="theme-btn btn-style-thirteen">Our services <span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <!--End Slide Info Boxed-->
    
</section>
<!--End Main Slider-->