{% load static %}
<!--Main Slider-->
<section class="main-slider" style="background-image:url(/static/frontend/images/background/1.png)">
    <div class="main-slider-carousel owl-carousel owl-theme">
        
        <div class="slide slide-one" style="background-image:url(/static/frontend/images/main-slider/1.png)">
            <div class="auto-container">
                <div class="content">
                    <h1>Join with the Happiest <br> Customers In The <span>World Today</span></h1>
                    <div class="text">Let's help meet your most fundamental personal financial goals. Whether you want instant access to your cash, a fixed rate or an account you can manage easily from the comfort of your living room</div>
                    <div class="link-box">
                        <a href="contact.html" class="theme-btn btn-style-one">Get started now <span class="icon flaticon-link"></span></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="slide slide-one" style="background-image:url(static/frontend/images/main-slider/1.png)">
            <div class="auto-container">
                <div class="content">
                    <h1>Join with the Happiest <br> Customers In The <span>World Today</span></h1>
                    <div class="text">Let's help meet your most fundamental personal financial goals. Whether you want instant access to your cash, a fixed rate or an account you can manage easily from the comfort of your living room</div>
                    <div class="link-box">
                        <a href="contact.html" class="theme-btn btn-style-one">Let's start now <span class="icon flaticon-link"></span></a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <!--End Slide Info Boxed-->
    
</section>
<!--End Main Slider-->