{% extends './base.html' %}
{% load static %}

{% block content %}

<!--Start breadcrumb Style1-->
<section class="breadcrumb-style1">
    <div class="shape-bottom"></div>
    <div class="breadcrumb-style1-bg" style="background-image: url(/static/frontend2/images/breadcrumb-1.jpg);">
    </div>
    <div class="breadcrumb-style1__border-line-left"></div>
    <div class="breadcrumb-style1__border-line-right"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title">
                        <h2>About Us</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul class="clearfix">
                            <li><a href="/">Home</a></li>
                            <li class="active">About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb Style1-->

<!-- about start -->
{% include './include/about_home.html' %}
<!-- about end -->

<!--Start Features Style6-->
<section class="features-style6">
    <div class="shape1">
        <img class="float-bob-y" src="{% static 'frontend2/images/features-style6-shape-1.png' %}" alt="">
    </div>
    <div class="shape2">
        <img class="float-bob-y" src="{% static 'frontend2/images/features-style6-shape-2.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <!--Start Single Features Style6 -->
            <div class="col-xl-4 col-lg-4">
                <div class="single-features-style6">
                    <div class="icon-box">
                        <div class="round-bg"></div>
                        <div class="count-box">1</div>
                        <div class="icon">
                            <img src="{% static 'frontend2/images/features-style6-1.png' %}" alt="">
                        </div>
                    </div>
                    <div class="text-box">
                        <h3><a href="#">Community Building</a></h3>
                        <p>Our goal is to provide the best financial services to you and your family. We've got the products and services you need to meet your goals. </p>
                    </div>
                </div>
            </div>
            <!--Start Single Features Style6 -->
            <!--Start Single Features Style6 -->
            <div class="col-xl-4 col-lg-4">
                <div class="single-features-style6">
                    <div class="icon-box">
                        <div class="round-bg"></div>
                        <div class="count-box">2</div>
                        <div class="icon">
                            <img src="{% static 'frontend2/images/features-style6-2.png' %}" alt="">
                        </div>
                    </div>
                    <div class="text-box">
                        <h3><a href="#">Committed to Deliver</a></h3>
                        <p>We are committed to making sure you are served the best way, our staffs are trained are well trained and are always available to help you.</p>
                    </div>
                </div>
            </div>
            <!--Start Single Features Style6 -->
            <!--Start Single Features Style6 -->
            <div class="col-xl-4 col-lg-4">
                <div class="single-features-style6">
                    <div class="icon-box">
                        <div class="round-bg"></div>
                        <div class="count-box">3</div>
                        <div class="icon">
                            <img src="{% static 'frontend2/images/features-style6-3.png' %}" alt="">
                        </div>
                    </div>
                    <div class="text-box">
                        <h3><a href="#">Consistent Management</a></h3>
                        <p>Our mission is to serve our community,provide value to our clients, and provide shareholders sustained growth.</p>
                    </div>
                </div>
            </div>
            <!--Start Single Features Style6 -->

        </div>
    </div>
</section>
<!--End Features Style6-->

<!-- features start -->
{% include './include/features.html' %}
<!-- features end -->


<!--Start Features Style4-->
<section class="features-style4">
    <div class="container">
        <div class="row">

            <div class="col-xl-5">
                <div class="features-style4-img">
                    <div class="shape-1">
                        <img class="rotate-me" src="{% static 'frontend2/images/features-style4-shape1.png' %}" alt="">
                    </div>
                    <div class="shape-2">
                        <img class="rotate-me" src="{% static 'frontend2/images/features-style4-shape2.png' %}" alt="">
                    </div>
                    <div class="features-style4-img__inner float-bob-y">
                        <img src="{% static 'frontend2/images/features-4-1.jpg' %}" alt="">
                        <div class="logo-box">
                            <a href="#">
                                <img src="{% static 'frontend2/images/new-logo1.png' %}" alt="#" title="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-7">
                <div class="features-style4-content">
                    <div class="sec-title">
                        <div class="sub-title">
                            <div class="border-line"></div>
                            <h4>We Help Customers &amp; Their Businesses</h4>
                        </div>
                        <h2>Everything you get with<br> Us</h2>
                        <p>Over the years, We have been the recipient of numerous notable awards for product and service innovation, corporate social responsibility and world class governance standards. We base our services on Integrity, Professionalism, Corporate Governance, Loyalty and Excellent Service.</p>
                    </div>
                    <div class="list-item">
                        <ul>
                            <li>
                                <div class="icon">
                                    <span class=" icon-check1"></span>
                                </div>
                                No monthly fees for current account
                            </li>
                            <li>
                                <div class="icon">
                                    <span class=" icon-check1"></span>
                                </div>
                                100% digitally supported sign up
                            </li>
                            <li>
                                <div class="icon">
                                    <span class=" icon-check1"></span>
                                </div>
                                24/7 quick customer support
                            </li>
                            <li>
                                <div class="icon">
                                    <span class=" icon-check1"></span>
                                </div>
                                Protected by Money Laundering Protection Scheme
                            </li>
                            <li>
                                <div class="icon">
                                    <span class=" icon-check1"></span>
                                </div>
                                Get Instant payment notifications
                            </li>
                            <li>
                                <div class="icon">
                                    <span class=" icon-check1"></span>
                                </div>
                                Instant card locking security
                            </li>
                        </ul>
                    </div>
                    <div class="btn-box">
                        <a class="btn-one" href="{% url 'account:registration' %}">
                            <span class="txt">
                                Get Statrted Now
                                <i class="icon-Vector"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Features Style4-->

<!--Start slogan style1-->
<!-- <section class="slogan-style1">
    <div class="shape1">
        <img class="float-bob-y" src="{% static 'frontend2/images/features-style6-shape-1.png' %}" alt="">
    </div>
    <div class="shape2">
        <img class="float-bob-y" src="{% static 'frontend2/images/features-style6-shape-2.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="slogan-style1-content">
                    <div class="text-box">
                        <h2>
                            Apply for our award-winning<br>Cards &amp; accounts today
                        </h2>
                        <p>We offer different services to make your daily needs a lot easier.</p>
                    </div>
                    <div class="btn-box">
                        <a class="btn-one" href="">
                            <span class="txt">
                                Get Started Now
                                <i class="icon-Vector"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="slogan-card-box">
                    <div class="img-box">
                        <div class="img1 float-bob-x">
                            <img src="{% static 'frontend2/images/card-1.png' %}" alt="">
                        </div>
                        <div class="img2 paroller">
                            <img src="{% static 'frontend2/images/card-2.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--End slogan style1-->

{% endblock %}