{% extends './base.html' %}
{% load static %}

{% block content %}
    <!-- hero start -->
    {% include './include/hero.html' %}
     <!-- hero end -->

    <!-- start currency start -->
    {% include './include/start_currency.html' %}
     <!-- start currency end -->

    <!-- services start -->
    {% include './include/services.html' %}
     <!-- services end -->

    <!-- about start -->
    {% include './include/about_home.html' %}
     <!-- about end -->

    <!-- features start -->
    {% include './include/features.html' %}
     <!-- features end -->

    <!-- loan start -->
    {% include './include/loan.html' %}
     <!-- loan end -->

    <!-- offshore_offer start -->
    {% include './include/offshore_offer.html' %}
     <!-- offshore_offer end -->

    <!-- secure start -->
    {% include './include/secure.html' %}
     <!-- secure end -->

    <!-- news start -->
    {% include './include/news.html' %}
     <!-- news end -->
{% endblock %}