{% extends './base.html' %}
{% load static %}

{% block content %}

<!--Start breadcrumb Style1-->
<section class="breadcrumb-style1">
    <div class="shape-bottom"></div>
    <div class="breadcrumb-style1-bg" style="background-image: url(/static/frontend2/images/breadcrumb-1.jpg);">
    </div>
    <div class="breadcrumb-style1__border-line-left"></div>
    <div class="breadcrumb-style1__border-line-right"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title">
                        <h2>Location</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul class="clearfix">
                            <li><a href="/">Home</a></li>
                            <li class="active">Location</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb Style1-->

<!--Start Contact Info Style3-->
<section class="contact-info-style3 mb-4">
    <div class="container">
        <!-- <div class="sec-title text-center">
            <div class="sub-title item-center">
                <div class="border-line"></div>
                <h4>We Offer Banking For Everyone</h4>
            </div>
            <h2>Branch / aTM Locator</h2>
            <p>In quam eveniet non dolorem totam et minus sed aliquid tempore</p>
        </div> -->
        <div class="contact-info-style3__inner">
            <div class="branch-atm-tab">


                <!--Start Tabs Content Box-->
                <div class="tabs-content-box">

                    <!--Tab-->
                    <div class="tab-content-box-item tab-content-box-item-active" id="branch">
                        <div class="branch-atm-tab-content-box-item">
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="contact-info-style3__img-box">
                                        <div class="contact-info-style3__img-box__bg" style="background-image: url(/static/frontend2/images/contact-info-style3-1.jpg);">
                                        </div>
                                        <div class="text">
                                            <span>Branch Address:</span>
                                            <h4><a href="#">805 Broklyn Garden, Alexaz Duo,<br>New York. USA 33660</a></h4>
                                            <ul>
                                                <li>P: <a href="tel:2512353256">+1 (717) 473 8336</a></li>
                                                <li>E: <a href="mailto:contact@rosano.com">contact@pinnacleonlinetb.com</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-8">
                                    <div class="contact-page-map-outer-box">
                                        <!--Google Map Start-->
                                        <div class="google-map">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd" class="google-map__one" allowfullscreen=""></iframe>
                                        </div>
                                        <!--Google Map End-->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--Tab-->
                    <div class="tab-content-box-item" id="atm">
                        <div class="branch-atm-tab-content-box-item">
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="contact-info-style3__img-box">
                                        <div class="contact-info-style3__img-box__bg" style="background-image: url(images/contact-info-style3-2.jpg);">
                                        </div>
                                        <div class="text">
                                            <span>Branch Address:</span>
                                            <h4><a href="#">023 Fadel Dale Apt. 680, Wehner,<br>NewYork
                                                    03032</a></h4>
                                            <ul>
                                                <li>P: <a href="tel:2512353256">+1 (234) 500 6000</a></li>
                                                <li>E: <a href="mailto:contact@rosano.com">support@ros-bank.com</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-8">
                                    <div class="contact-page-map-outer-box">
                                        <!--Google Map Start-->
                                        <div class="google-map">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd" class="google-map__one" allowfullscreen=""></iframe>
                                        </div>
                                        <!--Google Map End-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--End Tabs Content Box-->

            </div>
        </div>

    </div>
</section>
<!--End Contact Info Style3-->

{% endblock %}