{% extends './base.html' %}
{% load static %}

{% block content %}
<style>
    .btn-warning{
        background-color: #ff7a00;
        border-color: #ff7a00;
    }
    .bg-primary{
        background-color: #182978 !important;
    }
</style>
<div class="container py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="card shadow bg-primary text-white">
                <center>
					<div class=" mt-4 mb-3">
						<img src="{% static 'images/new-logo.png' %}" class="img-fluid" style="width: 150px;">
					</div>
				</center>
                <hr>
                <div class="card-body">
                    <h3 class="text-center text-white">Login</h3>
                    {% include '../regulars/alert.html' %}
                    <hr>
                    <form method="POST" action="{% url 'account:login' %}" id="login_form">
                        {% csrf_token %}

                    <div class="modal-body">
                        <div class="mb-3">
                        <label for="email" class="form-label fw-bold">Email Address</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                        <label for="password" class="form-label fw-bold">Password</label>
                        <input type="password" name="password" class="form-control" id="password">
                        </div>
                        <div class="mb-3">
                        <label for="show-pass" class="form-check-label fw-bold">Show Password:</label>
                        <input class="form-check-input"  id="show-pass" type="checkbox" onclick="meFunction()">
                        </div>
                    </div>
                    <div class="modal-footer">
                        
                        <!-- <input type="submit" value="Login" id="login-btn" class="btn btn-warning text-white w-100 fw-bold"> -->

                        <button type="submit" class="btn btn-warning text-white w-100 fw-bold" id="login_btn">
                            <span id="login_btn_text">Login</span>
                            <div class="spinner-border text-light spinner-border-sm d-none" role="status" id="login_spinner">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function meFunction() {
      var z = document.getElementById("password");
    
      if (z.type === "password") {
        z.type = "text";    
      } else {
        z.type = "password";
      }
    }
</script>

<script>
    const loginForm = document.querySelector('#login_form');
    const loginBtn = document.querySelector('#login_btn');
    const loginBtnText = document.querySelector('#login_btn_text');
    const loginSpinner = document.querySelector('#login_spinner');

    loginForm.addEventListener('submit', (e)=>{
        e.preventDefault();
        // console.log('clicked');

        loginBtnText.style.display = 'none';
        loginSpinner.classList.remove('d-none');
        loginBtn.disabled = true;

        loginForm.submit();
    })
</script>
{% endblock %}