<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Barcley Online Bank</title>
</head>
<body>
		<h2>Hello {{ name }},</h2>
	
	
		<p>To complete the tran</p>
	    	   
	    <h5>Yours in Service,<br>
			Mr. Michael J. Brown<br>
			Foreign Operation Manager(PMFB)<br>
			Address:146 Stuyvesant street USA<br>
			Email: help@fmfb.com</h5>
				    <br>
				    <br>		    
	    <p><i>-- 
			*************************WARNING*****************************
			This message was sent from PMFB. It is designated for intended recipient only. If you have received this email in error, you should immediately discard it without transferring or storing any of it's content. Anyone caught not abiding with these rules will be made to face the law as all communications are officially meant for PMFB customers only. <br>PMFB Copyright ©2021 All rights reserved.</i></p>

</body>
</html>