{% extends './base.html ' %}
{% load static %}

{% block content %}

<style>
    .btn-warning{
        background-color: #ff7a00;
        border-color: #ff7a00;
    }
    .bg-primary{
        background-color: #101118 !important;
    }
</style>

<!-- navbar start -->
{% include './included/navbar2.html' %}
 <!-- navbar end -->

<!--Page Title-->
<section class="page-title" style="background-image:url(/static/frontend/images/background/8.jpg)">
    <div class="auto-container">
        <div class="content">
            <h1>Verify <span>OTP</span></h1>
            <ul class="page-breadcrumb">
                <li><a href="{% url 'frontend:home' %}">Home</a></li>
                <li>Pages</li>
                <li>Verify otp</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->



<div class="container py-4 mt-5">
	<div class="row align-item-cnter justify-content-center">
		<div class="col-md-4">
			<div class="card bg-primary text-white shadow-lg">
                
				<center>
					<div class=" mt-2 mb-3">
						<img src="{% static 'frontend/images/dewfront_logoyellow.png' %}" class="img-fluid" >
					</div>
				</center>

                {% if messages %}
				{% for message in messages %}
				<div class="alert alert-primary alert-dismissible fade show" role="alert">
				 {{message}}
				  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				{% endfor %}
				{% endif %}

                
				<h5 class="text-center text-white my-4">Enter OTP Code for verification</h5>

				<center>
					<p class="fw-bold text-white px-4">Please enter the 5 digits otp verification code that was sent to your email.<br>xxxxxxx{{email|slice:"8:20"}}xxx</p>
					<!-- <div class="spinner-grow text-secondary" role="status">
					  <span class="visually-hidden">Loading...</span>
					</div> -->
				</center>
				
				<div class="card-body">
					<form method="POST">
						{% csrf_token %}

						<div class="mb-3">
						  {{ form.number.errors }}
						  <label for="{{ form.number.id_for_label }}" class="form-label fw-bold">Enter Otp Code:</label>
						  {{ form.number }}
						</div>
						<button type="submit" id="otpVerify"  class="btn btn-warning text-white fw-bold w-100 mt-2">Confirm</button>
					</form>
					
				</div>
			</div>		
		</div>		
	</div>
</div>


<script>
	const otpVerify = document.querySelector("#otpVerify");

	otpVerify.addEventListener("click", () => otpVerify.textContent = `Authenticating .........`);
</script>

{% endblock %}