{% load static %}
<!--Start About style1-->
<section class="about-style1">
    <div class="about-style1-bg jarallax" data-jarallax="" data-speed="0.1" data-imgposition="0% 0%" style="background-image: url(/static/frontend2/images/about-style1.jpg);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-style1__img">
                    <div class="about-style1__img-inner">
                        <ul>
                            <li><span class="icon-refund-1"></span> Corporate Services</li>
                            <li><span class="icon-corporate-services"></span> Offshore Services</li>
                        </ul>
                        <div class="top-img-box">
                            <img src="{% static 'frontend2/images/about-style1-1.jpg' %}" alt="">
                        </div>
                        <div class="bottom-img-box">
                            <img src="{% static 'frontend2/images/about-style1-2.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="about-style1__content">
                    <div class="sec-title">
                        <div class="sub-title">
                            <div class="border-line"></div>
                            <h4>About Us</h4>
                        </div>
                        <h2>Building A More compact<br> and Inclusive future Economy</h2>
                    </div>
                    <div class="about-style1__content-inner">
                        <div class="text">
                            <p>
                                Over the years, We have been the recipient of numerous notable awards for product and service innovation, corporate social responsibility and world class governance standards. We base our services on Integrity, Professionalism, Corporate Governance, Loyalty and Excellent Service.
                            </p>
                        </div>
                        <ul class="clearfix">
                            <li>
                                <div class="icon">
                                    <span class="icon-checked1"></span>
                                </div>
                                Personal Solutions
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-checked1"></span>
                                </div>
                                Industry Expertise
                            </li>
                        </ul>
                        <div class="quote-box">
                            <p>
                                Making sure our customers are fully satisfied is our number one priority.
                            </p>
                        </div>
                        <div class="btn-box">
                            <a class="btn-one" href="{% url 'account:registration' %}">
                                <span class="txt">
                                    Get started right now
                                    <i class="icon-Vector"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End About style1-->