{% load static %}

<!--Start Features Style1-->
<section class="features-style1">
    <div class="features-style1__shape-top wow slideInRight" data-wow-delay="100ms" data-wow-duration="3000ms">
    </div>
    <div class="features-style1__shape-bottom wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
    </div>
    <div class="middle-content wow slideInUp" data-wow-delay="100ms" data-wow-duration="3000ms">
        <span class="icon-rosano-logo-1"></span>
    </div>
    <div class="container">
        <div class="row">

            <!--Start Single Features Style1-->
            <div class="col-xl-6">
                <div class="single-features-style1 clearfix">
                    <div class="single-features-style1__img-bg" style="background-image: url(/static/frontend2/images/features-style1-1.jpg);"></div>
                    <div class="single-features-style1__inner">
                        <h2>Offers For Individuals</h2>
                        <p>Lorem ipsum dolor sit amety consectetur adipiscing elits.
                            Class aptent taciti sociosqu ad litora torquent peri conubia nostra per inceptos
                            himenaeos.</p>
                        <div class="btn-box">
                            <a class="btn-one" href="{% url 'frontend:contact_us' %}">
                                <span class="txt">
                                    Find Out More
                                    <i class="icon-Vector"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Start Single Features Style1-->

            <!--Start Single Features Style1-->
            <div class="col-xl-6">
                <div class="single-features-style1 single-features-style1--instyle2 clearfix">
                    <div class="single-features-style1__img-bg" style="background-image: url(/static/frontend2/images/features-style1-2.jpg);"></div>
                    <div class="single-features-style1__inner">
                        <h2>Offers For corporates</h2>
                        <p>Lorem ipsum dolor sit amety consectetur adipiscing elits.
                            Class aptent taciti sociosqu ad litora torquent peri conubia nostra per inceptos
                            himenaeos.</p>
                        <div class="btn-box">
                            <a class="btn-one" href="{% url 'frontend:contact_us' %}">
                                <span class="txt">
                                    Find Out More
                                    <i class="icon-Vector"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Start Single Features Style1-->

        </div>
    </div>
</section>
<!--End Features Style1-->