{% load static %}
<!--Start Finances Style1-->
<section class="finances-style1">
    <div class="finances-style1__bg jarallax" data-jarallax="" data-speed="0.1" data-imgposition="0% 0%" style="background-image: url(/static/frontend2/images/finances-style1-bg.jpg);">
        <div class="finances-style1__shape1"></div>
        <div class="finances-style1__shape2"></div>
    </div>
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title item-center">
                <div class="border-line"></div>
                <h4>We Offer loan For all customers</h4>
            </div>
            <h2>loans &amp; Information</h2>
            <p>Please Note that some personal information will be required during the process, information like your full name, country, occupation etc.</p>
        </div>
        <div class="row">

            <!--Start Single Finances Box-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-finances-box">
                    <div class="img-box">
                        <div class="inner">
                            <img src="{% static 'frontend2/images/finances-1.jpg' %}" alt="">
                        </div>
                        <div class="overly-icon">
                            <span class="icon-real-estate"></span>
                        </div>
                    </div>
                    <div class="text-box text-center">
                        <h3><a href="#">Loan For Home</a></h3>
                        <p>You want to get a new home, we have an offer for that for our customers.</p>
                        <div class="btn-box text-center">
                            <a class="btn-one" href="{% url 'frontend:loan_home' %}">
                                <span class="txt">
                                    apply today
                                    <i class="icon-Vector"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Finances Box-->

            <!--Start Single Finances Box-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-finances-box">
                    <div class="img-box">
                        <div class="inner">
                            <img src="{% static 'frontend2/images/finances-2.jpg' %}" alt="">
                        </div>
                        <div class="overly-icon">
                            <span class="icon-mortarboard"></span>
                        </div>
                    </div>
                    <div class="text-box text-center">
                        <h3><a href="#">Loan For Students</a></h3>
                        <p>Education is part of the foundation of a society, we are always here to support with our offers.</p>
                        <div class="btn-box text-center">
                            <a class="btn-one" href="{% url 'frontend:loan_home' %}">
                                <span class="txt">
                                    apply today
                                    <i class="icon-Vector"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Finances Box-->

            <!--Start Single Finances Box-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-finances-box">
                    <div class="img-box">
                        <div class="inner">
                            <img src="{% static 'frontend2/images/finances-3.jpg' %}" alt="">
                        </div>
                        <div class="overly-icon">
                            <span class="icon-signing"></span>
                        </div>
                    </div>
                    <div class="text-box text-center">
                        <h3><a href="#">Loan For Business</a></h3>
                        <p>We have offers for all business wheather big or small business.</p>
                        <div class="btn-box text-center">
                            <a class="btn-one" href="{% url 'frontend:loan_home' %}">
                                <span class="txt">
                                    apply today
                                    <i class="icon-Vector"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Finances Box-->
        </div>
    </div>
</section>
<!--End Finances Style1-->