{% load static %}
<!--Start Blog Style1-->
<section class="blog-style1">
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title item-center">
                <div class="border-line"></div>
                <h4>Our Latest news and insights</h4>
            </div>
            <h2>our news &amp; insights</h2>
            <p>We will always keep you updated with our daily news and insights</p>
        </div>


        <div class="row">

            <!--Start Single Blog Style1-->
            <div class="col-xl-7">
                <div class="single-blog-style1">
                    <div class="single-blog-style1__img-holder">
                        <div class="inner">
                            <img src="{% static 'frontend2/images/blog-v1-1.jpg' %}" alt="">
                            <div class="overlay-button">
                                <a class="" data-fancybox="gallery" href="">
                                    <span class="icon-magnifying-glass"></span>
                                </a>
                            </div>
                        </div>
                        <div class="category">
                            <h6>24 Hours Update</h6>
                        </div>
                    </div>
                    <div class="single-blog-style1__title-holder">
                        <div class="meta-box">
                            <ul class="meta-info">
                                <!-- <li>
                                    <a href="#">
                                        <span class="icon-calendar"></span>Nov 31, 2024
                                    </a>
                                </li> -->
                                <li>
                                    <a href="#">
                                        <span class="icon-comment"></span>34 Comments
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="title-box">
                            <h3>
                                <a href="blog-single.html">
                                    Industry's Imperatives For Sustainability in...
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single Blog Style1-->

            <div class="col-xl-5">
                <div class="blog-list-content">
                    <ul class="clearfix">
                        <li>
                            <!--Start Single Blog Style2-->
                            <div class="single-blog-style2">
                                <div class="img-holder">
                                    <img src="{% static 'frontend2/images/blog-v2-1.jpg' %}" alt="">
                                    <div class="overlay-button">
                                        <a class="" data-fancybox="gallery" href="">
                                            <span class="icon-magnifying-glass"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="single-blog-style1__title-holder">
                                    <div class="meta-box">
                                        <ul class="meta-info">
                                            <!-- <li>
                                                <a href="#">
                                                    <span class="icon-calendar"></span>Nov 31, 2022
                                                </a>
                                            </li> -->
                                            <li>
                                                <a href="#">
                                                    <span class="icon-comment"></span>23 Comments
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="title-box">
                                        <h3>
                                            <a href="/">
                                                Never Worry About What to Do About<br> online security Again With These
                                                Tips.
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Blog Style2-->
                        </li>

                        <li>
                            <!--Start Single Blog Style2-->
                            <div class="single-blog-style2">
                                <div class="img-holder">
                                    <img src="{% static 'frontend2/images/blog-v2-2.jpg' %}" alt="">
                                    <div class="overlay-button">
                                        <a class="" data-fancybox="gallery" href="">
                                            <span class="icon-magnifying-glass"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="single-blog-style1__title-holder">
                                    <div class="meta-box">
                                        <ul class="meta-info">
                                            <!-- <li>
                                                <a href="#">
                                                    <span class="icon-calendar"></span>Nov 31, 2022
                                                </a>
                                            </li> -->
                                            <li>
                                                <a href="#">
                                                    <span class="icon-comment"></span>14 Comments
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="title-box">
                                        <h3>
                                            <a href="blog-single.html">
                                                Step to step instructions on how to navigate safely online.
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Blog Style2-->
                        </li>
                    </ul>

                    <div class="blog-list-content__btn-box">
                        <a class="btn-one" href="/">
                            <span class="txt">
                                more news
                                <i class="icon-Vector"></i>
                            </span>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!--End Blog Style1-->