{% load static %}
<!--Start Features Style3-->
<section class="features-style3">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="features-style3-img-box">
                    <div class="features-style3-img-box__inner">
                        <img src="{% static 'frontend2/images/features-style3-img-1.jpg' %}" alt="">
                    </div>
                    <div class="card-box">
                        <img src="{% static 'frontend2/images/card.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="features-style3-text-box">
                    <div class="sec-title">
                        <div class="sub-title">
                            <div class="border-line"></div>
                            <h4>Offshore Cards &amp; More</h4>
                        </div>
                        <h2>get your personalized<br> offshore service now</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisc elit. Nunctimi vulput
                            velit interdum, ac aliquet odio mattis. Classesicop aptent tacitiso ciosqu
                            eptum ostrio antario glosses.</p>
                    </div>
                    <div class="features-style3-text-box__inner">
                        <ul>
                            <li>
                                <div class="icon">
                                    <span class="icon-necessities"></span>
                                </div>
                                <div class="text">
                                    <h3>Personalized offshore service</h3>
                                    <p>Nunc vulputate libero velit interdum</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-businesses"></span>
                                </div>
                                <div class="text">
                                    <h3>Online necessities for payment</h3>
                                    <p>Nunc vulputate libero velit interdum</p>
                                </div>
                            </li>

                            <li>
                                <div class="icon">
                                    <span class="icon-online-shoppings"></span>
                                </div>
                                <div class="text">
                                    <h3>Online shoppings</h3>
                                    <p>Nunc vulputate libero velit interdum</p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Features Style3-->