{% load static %}
<!--Start Features Style2-->
<section class="features-style2">
    <div class="features-style2-bg jarallax" data-jarallax="" data-speed="0.1" data-imgposition="0% 0%" style="background-image: url(/static/frontend2/images/features-style2-bg.jpg);">
    </div>
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title item-center">
                <div class="border-line"></div>
                <h4>We Offer a strong Online security</h4>
            </div>
            <h2>secure your assets</h2>
            <p>We have a very dedicated team to make sure you are always secured online.</p>
        </div>
        <div class="row">

            <!--Start Single Features Style2-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-features-style2">
                    <div class="img-box">
                        <img src="{% static 'frontend2/images/features-2-1.jpg' %}" alt="">
                        <div class="overlay-text-box">
                            <div class="inner">
                                <h3><a href="#">Trades FX</a></h3>
                                <p>Dolor amety consectetur vulputate adipiscing elit mil. Nunc libero.</p>
                                <div class="btns-box">
                                    <div class="static-btn">
                                        <a href="#"><span class="icon-Vector"></span></a>
                                    </div>
                                    <div class="overlay-btn">
                                        <!-- <a class="btn-one" href="about.html">
                                            <span class="txt">
                                                learn more
                                                <i class="icon-next2"></i>
                                            </span>
                                        </a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-features-style2__shape-middle float-bob-y"></div>
                    </div>
                </div>
            </div>
            <!--End Single Features Style2-->

            <!--Start Single Features Style2-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-features-style2">
                    <div class="img-box">
                        <img src="{% static 'frontend2/images/features-2-2.jpg' %}" alt="">
                        <div class="overlay-text-box">
                            <div class="inner">
                                <h3><a href="#">Mutual Funds</a></h3>
                                <p>Dolor amety consectetur vulputate adipiscing elit mil. Nunc libero.</p>
                                <div class="btns-box">
                                    <div class="static-btn">
                                        <a href="#"><span class="icon-Vector"></span></a>
                                    </div>
                                    <div class="overlay-btn">
                                        <!-- <a class="btn-one" href="about.html">
                                            <span class="txt">
                                                learn more
                                                <i class="icon-next2"></i>
                                            </span>
                                        </a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-features-style2__shape-middle float-bob-y"></div>
                    </div>
                </div>
            </div>
            <!--End Single Features Style2-->

            <!--Start Single Features Style2-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-features-style2">
                    <div class="img-box">
                        <img src="{% static 'frontend2/images/features-2-3.jpg' %}" alt="">
                        <div class="overlay-text-box">
                            <div class="inner">
                                <h3><a href="#">Multi Currency AC’s</a></h3>
                                <p>Dolor amety consectetur vulputate adipiscing elit mil. Nunc libero.</p>
                                <div class="btns-box">
                                    <div class="static-btn">
                                        <a href="#"><span class="icon-Vector"></span></a>
                                    </div>
                                    <div class="overlay-btn">
                                        <!-- <a class="btn-one" href="about.html">
                                            <span class="txt">
                                                learn more
                                                <i class="icon-next2"></i>
                                            </span>
                                        </a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-features-style2__shape-middle float-bob-y"></div>
                    </div>
                </div>
            </div>
            <!--End Single Features Style2-->

        </div>
    </div>
</section>
<!--End Features Style2-->