{% load static %}
<!--Start Services Style2-->
<section class="services-style2">
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title item-center">
                <div class="border-line"></div>
                <h4>We Offer Different Services For Everyone</h4>
            </div>
            <h2>world class digital services</h2>
            <p>Whether investing, borrowing or spending, you want to do it on your terms. And that's why our products and services are designed to meet your daily needs.</p>
        </div>
        <div class="row">
            <!--Single Services Style2-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-services-style2">
                    <div class="single-services-style2__inner">
                        <div class="shape1 rotate-me">
                            <img src="{% static 'frontend2/images/round-dotted-shape-1.png' %}" alt="">
                        </div><!-- /.shape1 -->
                        <div class="icon-box">
                            <div class="round-box"></div>
                            <span class="icon-mobile-banking"></span>
                        </div>
                        <div class="text-box">
                            <h3><a href="#">online mobile service</a></h3>
                            <p>Get the financial tools and insights to start, build, and grow your business. Manage your accounts and payments wherever you are, whenever you like, on any device including mobile devices.</p>
                        </div>
                        <div class="readmore-btn">
                            <a href="/">Read More <span class="icon-Vector"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Services Style2-->
            <!--Single Services Style2-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-services-style2 active">
                    <div class="single-services-style2__inner">
                        <div class="shape1 rotate-me">
                            <img src="{% static 'frontend2/images/round-dotted-shape-1.png' %}" alt="">
                        </div><!-- /.shape1 -->
                        <div class="icon-box">
                            <div class="round-box"></div>
                            <span class="icon-return-strategies"></span>
                        </div>
                        <div class="text-box">
                            <h3><a href="#">Return Strategies</a></h3>
                            <p>We believe that the beauty of life lies in the little things that give us a better expression of ourselves, make us more social and connect emotionally.</p>
                        </div>
                        <div class="readmore-btn">
                            <a href="#">Read More <span class="icon-Vector"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Services Style2-->
            <!--Single Services Style2-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-services-style2">
                    <div class="single-services-style2__inner">
                        <div class="shape1 rotate-me">
                            <img src="{% static 'frontend2/images/round-dotted-shape-1.png' %}" alt="">
                        </div><!-- /.shape1 -->
                        <div class="icon-box">
                            <div class="round-box"></div>
                            <span class="icon-saving-accounts"></span>
                        </div>
                        <div class="text-box">
                            <h3><a href="#">Help Center</a></h3>
                            <p>Skip the queues and get all the answers you need right from your phone. Log your dispense errors from your banking app. Check our How-To Guide for quick fixes.</p>
                        </div>
                        <div class="readmore-btn">
                            <a href="/">Read More <span class="icon-Vector"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Single Services Style2-->
        </div>
    </div>
</section>
<!--End Services Style2-->