{% extends '../account_base.html' %}

{% load humanize %}
{% load static %}

{% block content %}
<main>
	{% include '../included/translate.html' %}
<div class="container-fluid py-3">
    
		<div class="card shadow-lg">
			<h4 class="text-center text-white py-2 bg-primary">Loans</h4>
			<div class="card-body">
                <div class="row justify-content-center align-item-center">
                    <div class="col-md-8">
                        <center>
                            <i class="fa fa-exclamation-circle fa-2xl mb-4" aria-hidden="true"></i>
                        </center>
                        
				        <p>There is no Loan Plan available for you, Please contact our <a href="{% url 'customer:customer_care' %}">customer care </a> for a loan request</p>
                    </div>
                </div>
                
			</div>
		</div>
	</div>
</main>
{% endblock %}