{% extends  '../../frontend/base.html'  %}
{% load static %}




{% block Tittle %}Register Account{% endblock %}

{% block content %}
<main>
	
<div class="container py-4 mt-5">
	<div class="row align-item-cnter justify-content-center">
		<div class="col-md-4">
			<div class="card bg-primary text-white shadow-lg">
				<center>
					<div class=" mt-2 mb-3">
						<img src="{% static 'images/new-logo.png' %}" class="img-fluid" style="width: 150px;">
					</div>
				</center>
				<h4 class="text-center text-white my-4">Enter OTP Code for verification</h4>

				{% if messages %}
				{% for message in messages %}
				<div class="alert alert-primary alert-dismissible fade show" role="alert">
				 {{message}}
				  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				{% endfor %}
				{% endif %}



				<center>
					<p class="fw-bold text-white px-4">Please enter the 5 digits otp verification code that was sent to your email.<br>xxxxxxx{{email|slice:"8:20"}}xxx</p>
					<div class="spinner-grow text-secondary" role="status">
					  <span class="visually-hidden">Loading...</span>
					</div>
				</center>
				
				<div class="card-body">
					<form method="POST">
						{% csrf_token %}

						<div class="mb-3">
						  {{ form.number.errors }}
						  <label for="{{ form.number.id_for_label }}" class="form-label fw-bold">Enter Otp Code:</label>
						  {{ form.number }}
						</div>
						<button type="submit" id="otpVerify"  class="btn btn-warning text-white fw-bold w-100 mt-2">Confirm</button>
					</form>
					
				</div>
			</div>		
		</div>		
	</div>
</div>
</main>

<script>
	const otpVerify = document.querySelector("#otpVerify");

	otpVerify.addEventListener("click", () => otpVerify.textContent = `Wait! Processing OTP Verification ...........`);
</script>


{% endblock %}


