{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
          <a class="navbar-brand" href="#">DEW TRUST BANK</a>
          <!-- <i class="fa-solid fa-bars ms-5 my_menu_bar"></i> -->
          <div id="google_translate_element" class="ms-md-5 ms-1"></div>
      </div>
      
      <div class="d-flex align-items-center me-md-5 ">
        <img
          src="{{request.user.profile.picture.url}}"
          alt="Profile"
          class="profile-image me-2 d-none d-md-block"
        />
        <span></span>
        <i class="fa-solid fa-bars my_menu_bar d-md-none"></i>
      </div>
    </div>
</nav>


<!-- Sidebar -->
<div class="sidebar">
    <div class="clock-placeholder">
        <img src="{{request.user.profile.picture.url}}" alt="profile image">
    </div>
    <a href="{% url 'customer:customer_dashboard' %}" class="active"><i class="fa-solid fa-house me-2"></i>Dashboard</a>
    <a href="{% url 'customer:user_account_statement' %}"><i class="fa-regular fa-file me-2"></i>E-Statement</a>
    <a href="{% url 'customer:customer_dashboard' %}"><i class="fa-solid fa-wallet me-2"></i>Balance Inquiry</a>
    
    <a href="#" data-bs-toggle="modal" data-bs-target="#transaferType"><i class="fa-solid fa-money-bill-transfer me-2"></i>Funds Transfer</a>
    
    <a href="{% url 'customer:loan' %}"><i class="fa fa-sign-language me-2"></i>Apply for Loans</a>
    <a href="{% url 'customer:customer_care' %}"><i class="fa fa-phone me-2"></i>Get Help</a>
    <a href="{% url 'customer:update_profile' %}"><i class="fa fa-upload me-1"></i>Update Picture</a>
    <a href="{% url 'account:change_password' %}"><i class="fa fa-unlock-alt me-2"></i>Change Password</a>
    <a href="{% url 'account:logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
</div>




<!-- Modal -->
<div class="modal fade" id="transaferType" tabindex="-1" aria-labelledby="transaferTypeLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="transaferTypeLabel">Select Transfer Type</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'transaction:select_transafer_type' %}" method="POST" id="select-transfer-form">
            {% csrf_token %}
            <div class="modal-body">
                <select class="form-select" aria-label="Default select example" name="location">
                    <option value="local"><a href="#">Domestic Wire Transfer</a></option>
                    <option value="international"><a href="#">International Wire Transfer</a></option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="submit" id="select-transfer-btn" class="btn btn-info w-100 fw-bold text-white">
                    <span id="select-my-transfer-btn-text">Continue</span>
                    <div class="spinner-border text-light spinner-border-sm d-none" role="status" id="select-transfer-btn-spinner">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                <!-- <button type="submit" class="btn btn-danger w-100 fw-bold">Continue</button> -->
            </div>
        </form>
      </div>
    </div>
</div>



